/DinasPendidikan/DinasPendidikan.ApiService/bin
/DinasPendidikan/DinasPendidikan.ApiService/bin
/DinasPendidikan/DinasPendidikan.ApiService/obj
/DinasPendidikan/DinasPendidikan.Web/bin
/DinasPendidikan/.vs
/DinasPendidikan/.vs
/DinasPendidikan/DinasPendidikan.ServiceDefaults/obj
/DinasPendidikan/DinasPendidikan.Web/obj
/DinasPendidikan/Identity.ApiService/bin
/Monolith/DocumentManagementSystem/.vs
/Monolith/DocumentManagementSystem/.vs
/Monolith/DocumentManagementSystem/DocumentManagementSystem/bin
