/DinasPendidikan/DinasPendidikan.ApiService/bin
/DinasPendidikan/DinasPendidikan.ApiService/bin
/DinasPendidikan/DinasPendidikan.ApiService/obj
/DinasPendidikan/DinasPendidikan.Web/bin
/DinasPendidikan/.vs
/DinasPendidikan/.vs
/DinasPendidikan/DinasPendidikan.ServiceDefaults/obj
/DinasPendidikan/DinasPendidikan.Web/obj
/DinasPendidikan/Identity.ApiService/bin
/Monolith/DocumentManagementSystem/.vs
/Monolith/DocumentManagementSystem/.vs
/Monolith/DocumentManagementSystem/DocumentManagementSystem/bin
/DinasPendidikan/DinasPendidikan.AppHost/bin
/DinasPendidikan/DinasPendidikan.AppHost/obj
/DinasPendidikan/DinasPendidikan.AppHost/obj
/DinasPendidikan/DinasPendidikan.AsetService/bin
/DinasPendidikan/DinasPendidikan.AsetService/obj
/DinasPendidikan/DinasPendidikan.LpjService/bin
/DinasPendidikan/DinasPendidikan.LpjService/obj
/DinasPendidikan/DinasPendidikan.Shared/obj
/DinasPendidikan/DinasPendidikan.Web/obj
/DinasPendidikan/DinasPendidikanDokumenService/bin
