@inherits LayoutComponentBase


<div id="main" class="layout-horizontal">
	<header class="mb-5">
		<div class="header-top">
			<div class="container">
				<div class="logo">
					<a href="index"><img src="assets/compiled/svg/logo.svg" alt="Logo"></a>
				</div>
				<div class="header-top-right">

					<div class="dropdown">
						<a href="#" id="topbarUserDropdown" class="user-dropdown d-flex align-items-center dropend dropdown-toggle " data-bs-toggle="dropdown" aria-expanded="false">
							<div class="avatar avatar-md2">
								<img src="assets/compiled/jpg/1.jpg" alt="Avatar">
							</div>
							<div class="text">
								<h6 class="user-dropdown-name">John Ducky</h6>
								<p class="user-dropdown-status text-sm text-muted">Member</p>
							</div>
						</a>
						<ul class="dropdown-menu dropdown-menu-end shadow-lg" aria-labelledby="topbarUserDropdown" style="margin:13px -19px 15px 15px">
							<li><a class="dropdown-item" href="#">My Account</a></li>
							<li><a class="dropdown-item" href="#">Settings</a></li>
							<li><hr class="dropdown-divider"></li>
							<li><a class="dropdown-item" href="auth-login">Logout</a></li>
						</ul>
					</div>

					<!-- Burger button responsive -->
					<a href="#" class="burger-btn d-block d-xl-none">
						<i class="bi bi-justify fs-3"></i>
					</a>
				</div>
			</div>
		</div>
		<NavMenu />
	</header>

	<main class="content-wrapper" id="main-content">
		@Body
	</main>

	<footer>
		<div class="container">
			<div class="footer clearfix mb-0 text-muted">
				<div class="float-start">
					<p>2023 &copy; Mazer</p>
				</div>
				<div class="float-end">
					<p>
						Crafted with <span class="text-danger"><i class="bi bi-heart"></i></span> by <a href="https://saugi.me">Saugi</a>
					</p>
				</div>
			</div>
		</div>
	</footer>
</div>
