<nav class="main-navbar">
	<div class="container">
		<ul>
			<li class="menu-item">
				<NavLink class="menu-link nav-link" href="dashboard">
					<span><i class="bi bi-grid-fill"></i> Dashboard</span>
				</NavLink>
			</li>

			<li class="menu-item active has-sub">
                <a href="#" class='menu-link'>
                    <span><i class="bi bi-grid-1x2-fill"></i> Surat Menyurat </span>
                </a>
                <div
                    class="submenu ">
                    <!-- Wrap to submenu-group-wrapper if you want 3-level submenu. Otherwise remove it. -->
                    <div class="submenu-group-wrapper" x-data="{ content: '' }">
                        <ul class="submenu-group">
							<li class="submenu-item nav-link">
                                <a href="surat-masuk" class='submenu-link'>Surat Masuk</a>           
                            </li>

							<li class="submenu-item active ">
                                <a href="layout-horizontal" class='submenu-link'>Horizontal Menu</a>          
                            </li>
							<li class="submenu-item  ">
								<NavLink class="menu-link nav-link" href="" Match="NavLinkMatch.All">
									<span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
								</NavLink>
							</li>

							<li class="submenu-item  ">
								<NavLink class="menu-link nav-link" href="counter">
									<span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
								</NavLink>
							</li>

							<li class="submenu-item  ">
								<NavLink class="menu-link nav-link" href="weather">
									<span class="bi bi-grid-fill" aria-hidden="true"></span> Weather
								</NavLink>
							</li>
						</ul>                                                
                    </div>
                </div>
            </li>
		</ul>
	</div>
</nav>