/* General */
$scale: 12px !important; /* Original 14px */        /* main font size */ 
$borderRadius: 0; /* Original 12px */               /* border radius of layout element e.g. card, sidebar */ 
$transitionDuration: 0; /* Original .2s */          /* transition duration of layout elements e.g. sidebar, overlay menus */ 
